---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* 포스트 영역을 가운데 정렬 */
.post {
  max-width: 600px; /* 포스트 최대 너비 */
  margin: 0 auto;   /* 가운데 정렬 */
  padding: 20px;    /* 여백 */
}

/* 코드 블럭 크기 줄이기 */
pre {
  max-width: 80%; /* 부모 요소에 맞게 크기 제한 */
  white-space: pre-wrap; /* 긴 코드 줄이 자동으로 줄 바꿈 */
  word-wrap: break-word; /* 긴 단어가 넘치지 않도록 자동 줄 바꿈 */
  font-size: 0.85rem; /* 글자 크기 줄이기 */
  padding: 15px; /* 여백 */
  background-color: #fafafa /* 배경색 */
  border-radius: 5px; /* 둥근 모서리 */
  overflow-x: auto; /* 가로로 넘치는 내용은 스크롤 가능하게 */
}
