---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 전체 페이지의 기본 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff; /* 배경색 흰색 */
  color: #333; /* 기본 글자색 */
  margin: 0;
  padding-left: 250px;
  padding-right: 250px;
}

/* 페이지 타이틀 */
h1 {
  font-size: 1.5rem; /* 제목 크기 */
  margin: 20px 0; /* 상하 여백 */
  padding-left: 0px; /* 왼쪽 여백 */
  text-align: left; /* 제목 왼쪽 정렬 */
}

/* 코드 블록 스타일 (제목과 같은 왼쪽 정렬) */
pre {
  max-width: 60%; /* 코드 블록 너비를 60%로 제한 */
  margin: auto; /* 코드 블록을 수평 중앙에 정렬 */
  color: #D3D3D3; /* 밝은 회색 텍스트 색상 */
  background-color: #2E2E2E; /* 어두운 회색 배경 */
  text-align: left; /* 코드 텍스트 왼쪽 정렬 */
}

/* 코드 블록 내의 코드 스타일 */
code {
  display: block; /* 코드 블록 내에서 줄바꿈이 일어나도록 */
  word-wrap: break-word; /* 긴 단어가 넘칠 경우 자동 줄 바꿈 */
  white-space: pre-wrap; /* 코드가 넘칠 경우 자동 줄 바꿈 */
  font-size: 0.9rem; /* 코드 크기 */
}

/* 전체 코드 블록을 감싸는 컨테이너 */
.code-container {
  position: relative;
  margin-right: 40%; /* 오른쪽에 40% 여백 추가 */
  background-color: #f7f7f7; /* 밝은 배경 (40% 여백에 해당) */
}


